.root {
	top: 38px;
	width: 300px;
	padding: 14px;
	display: flex;
	position: fixed;
	background: rgba(255, 255, 255, 0.87);
	align-items: center;
	border-radius: 4px;
	justify-content: space-between;
}
